* {
  padding: 0;
  margin: 0;
}
.entry {
  position: relative;
  min-height: 400px;
  text-align: center;
}

.badgebg {
  background: rgb(65, 65, 65);
}
#badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#badge div {
  /* background-color:rgb(187, 0, 62); */
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* color:rgb(0,0,0,0.5); */
  color: black;
  border-radius: 50%;
  /* background:radial-gradient(circle at top left,red 50%,blue 50%),radial-gradient(center, 
    rgb(205, 230, 235) 34%, 
    transparent 34%); */
  background: repeating-linear-gradient(
      0deg,
      transparent 10%,
      rgba(0, 0, 0, 0) 10% 11%,
      11%,
      #eee 20%
    ),
    radial-gradient(circle at 50%, white 100%, transparent 100%);
  border-radius: 50%;
  box-shadow: inset 0px 0 8px 5px rgb(0, 0, 0, 0.5),
    0 0px 4px 4px rgb(0, 0, 0, 0.3), 0px 0px 0 10px white,
    0px 10px 10px 10px rgb(0, 0, 0, 0.85);
  z-index: 3;
  /* ,inset 10px 10px 0px 0px rgba(77, 76, 76, 0.258) */
  /* inset -10px -10px 0px 10px rgba(77, 76, 76, 0.258), */
}
#badge div:after {
  display: block;
  content: "";
  position: absolute;
  height: 200px;
  width: 40px;
  top: -40%;
  left: 0;
  transform: rotate(-45deg);
  background: rgb(55, 141, 255);
  box-shadow: 20px 0px 0 -1px rgb(174, 17, 17), 40px 0px 0 -1px rgb(224, 157, 0),
    -10px 10px 5px 0 rgb(0, 0, 0, 0.5);
  z-index: -1;
}
#badge div:before {
  display: block;
  content: "";
  position: absolute;
  height: 200px;
  width: 40px;
  top: -40%;
  right: 0;
  transform: rotate(45deg);
  background: rgb(55, 141, 255);
  box-shadow: -20px 0px 0 -1px rgb(174, 17, 17),
    -40px 0px 0 -1px rgb(224, 157, 0), 10px 10px 5px 0 rgb(0, 0, 0, 0.5);
  z-index: -1;
}
