* {
  padding: 0;
  margin: 0;
}
.entry {
  position: relative;
  min-height: 400px;
  text-align: center;
}

.badgebg {
  background: rgb(65, 65, 65);
}
#badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#badge div {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background:radial-gradient(at center,rgb(0, 62, 150,0.5) 5.5%,transparent 5.5% 100%),linear-gradient(180deg,
    transparent 30%,30%,
      rgba(255, 166, 0, 1) 30% 45%,
      white 45% 55%,
      rgba(55, 157, 0, 1) 55% 70%,
      transparent 70% 100%
    ),repeating-linear-gradient(
      90deg,
      transparent 10%,
      white 10% 11%,
      11%,
      transparent 20%
    ),
    repeating-linear-gradient(
      0deg,
      transparent 10%,
      rgba(0, 0, 0, 0) 10% 11%,
      11%,
      #eee 20%
    ),
    radial-gradient(circle at 50%, white 100%, transparent 100%);
  border-radius: 50%;
  box-shadow: inset 0px 0 8px 5px rgb(0, 0, 0, 0.5),
    0 0px 4px 4px rgb(0, 0, 0, 0.3), 0px 0px 0 10px white,
    0px 10px 10px 10px rgb(0, 0, 0, 0.85);
  z-index: 3;
}
#badge div:after {
  display: block;
  content: "";
  position: absolute;
  height: 200px;
  width: 40px;
  top: -40%;
  left: 0;
  transform: rotate(-45deg);
  background: rgb(55, 141, 255);
  box-shadow: 20px 0px 0 0px rgb(174, 17, 17), 40px 0px 0 0px rgb(224, 157, 0),
    -10px 10px 5px 0 rgb(0, 0, 0, 0.5);
  z-index: -1;
}
#badge div:before {
  display: block;
  content: "";
  position: absolute;
  height: 200px;
  width: 40px;
  top: -40%;
  right: 0;
  transform: rotate(45deg);
  background: rgb(55, 141, 255);
  box-shadow: -20px 0px 0 0px rgb(174, 17, 17), -40px 0px 0 0px rgb(224, 157, 0),
    10px 10px 5px 0 rgb(0, 0, 0, 0.5);
  z-index: -1;
}
